$primary_color: red;
$secondar_color: black;
$font_size_standard: 25px;

body {
    background-color: aquamarine;
}

h2 {
    color: $primary_color; 
}

p {
    color: $primary_color;
    font-size: $font_size_standard;
}

button {
    font-size: $font_size_standard;
    color: $primary_color;
    background-color:$secondar_color;
}